* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    margin: 0;
}

/* TEXTOS */

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 0 10px 0;
}

li .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1.5;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
    line-height: 1.5;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.information-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    font-size: 20px;
    color: black;
    font-weight: bold;
    align-self: flex-end;
}

/* DIV 1 */

li {
    list-style-type: none;
}

.part-one {
    background-color: #1f2937;
    width: 100%;
}

.first ul {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 150px;
}

.first {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

/* DIV 2 */

.part-two {
    background-color: #1f2937;
    padding: 80px 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.content-wraper {
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.second {
    flex: 1;
}

.container-first {
    background-color: #6b7280;
    color: white;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-shrink: 0;
}

.buton {
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/*  DIV 3 */

.part-three {
    padding: 20px 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wraper {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.boxes {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-color {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    background-color: white;
}

/* DIV 4 */

.part-four {
    background-color: #E5E7EB;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
}

.quote-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

/* DIV 5 */

.part-five {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
}

.box-container {
    width: 800px;
    height: auto;
    min-height: 150px;
    background-color: #3882F6;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}

.text {
    display: flex;
    flex-direction: column;
    color: white;
}

.text p:first-child {
    font-weight: bold;
    font-size: 20px;
    margin:  0;
}

.text p:last-child {
    margin: 5px 0 0 0;
}

.buton2 {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
}

/* DIV 6 */

.part-six {
    width: 100%;
    height: 100px;
    background-color: #1f2937;
    text-align: center;
    color: white;
    padding: 40px 0 0 0;
}